<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.preferenciasdialogosnotificaciones">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.006PreferenciasDialogosNotificaciones">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- EJERCICIO 7_1 -->
        <activity
            android:name=".Ejercicio7_1.Ejercicio7_1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Ejercicio7_1.Ejercicio7_1_preferencias"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- EJERCICIO 7_2 -->
        <activity
            android:name=".Ejercicio7_2.Ejercicio7_2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- EJERCICIO 7_3 -->
        <activity
            android:name=".Ejercicio7_3.Ejercicio7_3_1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Ejercicio7_3.Ejercicio7_3_2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- EJERCICIO 7_4 -->
        <activity
            android:name=".Ejercicio7_4.Ejercicio7_4_1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Ejercicio7_4.Ejercicio7_4_2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- EJERCICIO 7_5 -->
        <activity
            android:name=".Ejercicio7_5.Ejercicio7_5"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- EJERCICIO 7_6 -->
        <activity
            android:name=".Ejercicio7_6.Ejercicio7_6"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Ejercicio7_6.Ejercicio7_6_intent"
            android:parentActivityName=".Ejercicio7_6.Ejercicio7_6">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Ejercicio7_6.Ejercicio7_6"
                />
        </activity>
        <!-- EJERCICIO 7_7 -->
        <activity
            android:name=".Ejercicio7_7.Ejercicio7_7"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>